@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Montserrat:wght@500&family=PT+Serif&family=Poppins:wght@200&family=Sora:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-text {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}



.primary-btn {
    border: none;
    color: #fff;
    font-size: 1.08rem;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 1.08rem 1.2rem;
    cursor: pointer;
}

.space {
    margin-right: 8rem;
    margin-left: 8rem;
}

/* header styles  */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 0.7rem 0;
}

/* nav container styles  */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

ul>li {
    list-style: none;
}

ul li>a {
    text-decoration: none;
    color: #424242;
    font-size: 1.08rem;
    font-weight: 500;
}

/* banner container styles  */
.banner-content {
    text-align: center;
    margin-top: 6rem;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
}


.banner-description {
    margin: 2rem;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner-img {
    margin-top: 2.8rem;
}

.banner-img>img {
    width: 100%;
}


/* our teams container styles  */

.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
}

.teams-img>img {
    height: 100%;
    width: 100%;
}

.Quick-text {
    font-size: 2.7rem;
    font-weight: 500;
    color: #727272;
}

.our-text {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
}

.features-text {
    color: #FF900E;
    font-size: 2.7rem;
    font-weight: 700;
}

.team-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}


/* Features container styles  */

.features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    gap: 2rem;
    margin-bottom: 3rem;
}

.feature-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1.5rem;
    border-left: 5px solid #FF900E;
    margin-bottom: 1.3rem;
}

.feature-description {
    margin-bottom: 1rem;
}

.feature-item {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 8px;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.feature-item>h2 {
    color: #131313;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.features-img>img {
    width: 380px;
    height: 90%;
    margin-left: 60px;
}

.experience-bach>h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.experience-bach>p {
    font-size: 0.7rem;
    font-weight: 500;
}

.experience-bach {
    border: none;
    border-radius: 8px;
    padding: 2rem;
    width: 100px;
    text-align: center;
    background-color: #FF900E;
    color: #fff;
    position: relative;
    bottom: 4.5rem;
}

/* some facts container styles  */

.some-facts-container {
    margin-bottom: 3rem;
}

.some-facts-content>h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.facts-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.fact-item>h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #424242;
}

.fact-item>p {
    font-size: 1rem;
    font-weight: 500;
    color: #727272;
}

.fact-item {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    transform-box: rotate(90deg);
}

.fact-item:hover {
    cursor: pointer;
    border: 1px solid #ac6009;
}

/* our sponsors container styles  */

.sponsors-container {
    margin-bottom: 5rem;
}

.sponsors-title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sponsors-content {
    text-align: center;
}

.our-sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.sponsor {
    cursor: pointer;
    text-align: center;
}

.footer-container>p {
    color: #424242;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 1rem;
}

footer{
    margin-bottom: 5rem;
}


/* Responsive styles  */

/* Responsive mobile device  */

@media screen and (max-width: 676px) {

    /* banner and nav container  */
    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 1rem;
    }

    .space {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }

    .banner-title {
        font-size: 2rem;
    }

    .nav-container ul {
        gap: 10px;
    }

    /* our teams container  */

    .team-container {
        flex-direction: column;

    }

    /* features container  */

    .features-container {
        flex-direction: column;
    }

    .experience-bach {
        position: static;
        margin: 2rem auto;
    }

    .features-img>img {
        width: 100%;
        margin-left: 0;
    }

    /* some facts container styles  */

    .facts-items-container {
        flex-direction: column;
    }

    /* our sponsors container styles  */
    .our-sponsors {
        grid-template-columns: repeat(1, 1fr);
    }


}



/* Responsive Tablet  device  */


@media screen and (min-width: 676px) and (max-width: 960px) {

    /* banner and nav container  */
    .space {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 1rem;
    }

    /* our team container  */
    .team-container {
        flex-direction: column;

    }

    .features-container {
        flex-direction: column;
    }

    .experience-bach {
        position: static;
        margin: 2rem auto;
    }

    .features-img>img {
        width: 100%;
        margin-left: 0;
    }

    /* our sponsors container  */
    .our-sponsors {
        grid-template-columns: repeat(2, 1fr);
    }

}