@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Montserrat:wght@500&family=PT+Serif&family=Poppins:wght@200&family=Sora:wght@100;200;300;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    border: none;
    color: #fff;
    font-size: 1.08rem;
    font-weight: 600;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 1.08rem 1.2rem;
    cursor: pointer;
}

.space{
    margin-right: 8rem;
    margin-left: 8rem;
}
/* header styles  */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 0.7rem 0;
}

/* nav container styles  */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

ul > li{
    list-style: none;
}

ul li> a{
    text-decoration: none;
    color: #424242;
    font-size: 1.08rem;
    font-weight: 500;
}

/* banner container styles  */
.banner-content{
    text-align: center;
    margin-top: 6rem;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
}


.banner-description{
    margin: 2rem;
    color: #727272; 
    font-size: 1rem;
    font-weight: 400;
}

.banner-img{
    margin-top: 2.8rem;
}
.banner-img> img{
    width: 100%;
}


/* our teams container styles  */

.team-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: 4rem;
}

.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
}

.teams-img > img{
    width: 100%;
}

.Quick-text{
    font-size: 2.7rem;
    font-weight: 500;
    color: #727272;
}

.our-text{
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
}

.features-text{
    color: #FF900E;
    font-size: 2.7rem;
    font-weight: 700;
}

.team-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}




/* Responsive styles  */

/* Responsive mobile device  */

@media screen and (max-width: 676px) {
    /* banner and nav container  */
    .nav-container{
        flex-direction: column;
    }

    .nav-title{
        margin-bottom: 1rem;
    }

    .space{
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }

    .banner-title{
        font-size: 2rem;
    }
    .nav-container ul{
        gap: 10px;
    }

    /* our teams container  */

    .team-container{
        flex-direction: column;

    }

}



/* Responsive Tablet  device  */


@media screen and (min-width: 676px) and (max-width: 960px) {

    /* banner and nav container  */
    .space{
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .nav-container{
        flex-direction: column;
    }

    .nav-title{
        margin-bottom: 1rem;
    }

    /* our team container  */
    .team-container{
        flex-direction: column;
        
    }

}